.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* aligns content to the bottom */
  align-items: center;
  width: 100%;
  max-width: 100px; /* width of the chat area */
  margin: auto;
  min-height: 70vh; /* height of the chat container */
  padding: 1rem;
  border-radius: 15px; /* rounded corners for the chat container */
  background-color: #63a6d0; /* background color for the chat container */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* might remove*/
  overflow: hidden; /* ensures the content is within border radius */
}

.messages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* scrolling */
  border-radius: 15px; /* rounded corners for the chat container */
  background-color: #63a6d0; /* background color for the chat container */
}

.message {
  display: flex;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 15px; /* rounded corners message */
  background-color: #e9e9e9; /* background color for messages */
  align-self: flex-start; /* align AI messages to the left */
}

.input-form {
  width: 100%;
}

.input-field {
  width: calc(100% - 2rem);
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* .messages {
  width: 100%;
  padding: 1rem;
} */

/* .message {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  max-width: 80%;
} */

.message.ai {
  background-color: #f1f0f0;
  align-self: flex-start;
}

.message.user {
  background-color: #d1f4ff; /* different background color for user messages */
  align-self: flex-end; /* aligns user messages to the right */
}
/* 
.message.user {
  background-color: #d1f4ff;
  align-self: flex-end;
} */

.role {
  font-weight: bold;
}

/* .input-form {
  width: 100%;
} */

/* .input-field {
  width: calc(100% - 2rem);
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
} */

/* mobile responsiveness */
@media (max-width: 768px) {
  .chat-container {
    width: 90%;
  }
}
